:root{
    --small-textbox-width: 200px;
}
/*Components - container*/
.container-block{
    display: block;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
}

.flex-column{
    display:flex;
    flex-flow: column wrap;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-end-start { /*flex-row-col*/
    justify-content: flex-end;
    align-items: flex-start;
}

.flex-start{
    justify-content: flex-start;
}

.flex-center-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flex-around{
    justify-content: space-around;
}

.flex-self-end{
    align-self: flex-end;
}

.flex-between-center{ /*Page Details*/
    justify-content:space-between;
    align-items: center;
}

.flex-subcontainer-top { /*row container top menu master page*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    background-color: #99eeff;
    position: relative;
}

.flex-container-top {
    height: 50px;
    width: 100%;
}

.flex-container-category { /*TopMenuCategory*/
    height: 25px;
    width: 100%;
}

.flex-container-login { /*TopMenu*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #99eeff;
    height: 25px;
    width: 100%;
    flex: 1 0 auto;
}

.master-content-container { /*Content container master page*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.side-menu { /*Content master page*/
    width: 210px;
    height: 100%;
    margin-left: 10%;
}

.main-content-container { /*Content master page*/
    width: 75%;
    height: auto;
}

/*Components - flex item*/

.flex-item { /*TopMenuGeneral*/
    font-size: 18px;
    margin-right: 120px;
}

.flex-item-category { /*TopMenuCategory*/
    padding: 0 15px;
    border-radius: 3px;
}

/*Components*/
.displayLess{
    display:none;
}

/*Title*/

.title1 {
    font-family: 'Century Schoolbook';
    font-size: 30px; /*Change*/
    color: blue;
}

.title1-black {
    font-family: 'Century Schoolbook';
    font-size: 30px; /*Change*/
    color: black;
}

.title2-black {
    font-family: 'Century Schoolbook';
    font-size: 25px; /*Change*/
    color: black;
}

.title2-black-bold {
    font-family: 'Century Schoolbook';
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.title3-black-bold {
    font-family: 'Century Schoolbook';
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.title4-blue-bold {
    font-family: 'Century Schoolbook';
    font-size: 18px;
    font-weight: bold;
    color: blue;
}

/*Colour*/

.bg-color {
    background-color: #99eeff;
}

.icon-light-color-larger{

}

/*Size (big to small)*/
.small-textBox-width{
    width:var(--small-textbox-width);
}

.larger-size {
    font-size: 30px;
}

.large-size{
    font-size: 25px;
}

.medium-size{
    font-size: 18px;
}

.placeholder-size{
    font-size: 13px;
    color: slategray;
}

.larger-right-gap { /*Top Menu*/
    margin-right: 120px;
}

.item-gap, .medium-right-gap {
    margin-right: 30px;
}

.medium-left-gap{
    margin-left: 30px;
}

.small-right-gap{
    margin-right: 10px;
}

.small-bottom-gap{
    margin-bottom: 10px;
}

.small-left-gap{
    margin-left: 10px;
}

.small-top-gap {
    margin-top: 10px;
}

.medium-bottom-inner-gap {
    padding-bottom: 20px;
}

.medium-top-inner-gap{
    padding-top: 20px;
}

.small-top-inner-gap {
    padding-top: 10px;
}

.small-bottom-inner-gap{
    padding-bottom: 10px;
}

.small-left-inner-gap { /*Top Menu padding*/
    padding-left: 3px;
}

.marginless{
    margin: 0px !important;
}

.small-gap{
    
}

/* Behaviour */
#btnLogin:hover, .btn-watchlist:hover, .flex-item-category:hover, .btn-watchlist:hover, .btn-blue-hover:hover{ /*Hover blue*/
    cursor: pointer;
    color: blue;
    background-color: lightblue;
}

flex-item:hover { /*Hover red*/
    color: red;
}

.btn-signUp:hover, .btn-login:hover, .btnSave:hover, .btn-register:hover, .btn-filter:hover,
.btn-filter:hover, .btn-upload-product:hover, .btnCreateStore:hover,
.btnAddCart:hover, .btnView:hover, .btnRemove:hover, .btnHover:hover, .btn-medium-golden-custom:hover{ /*Hover respond (Sign up page)*/
    opacity: 0.8;
}
/*Button*/
.btn-large-golden { /*normal button*/
    border: none;
    border-radius: 4px;
    background-color: goldenrod;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 10px 50px;
    cursor: pointer;
}

.btn-medium-golden { /*Sign up page, product page*/
    border: 1px solid goldenrod;
    border-radius: 4px;
    background-color: goldenrod;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    margin: auto;
    width: 40%;
    margin-right: 130px;
    margin-top: 5px;
}

.btn-medium-golden-custom {
    border: 1px solid goldenrod;
    border-radius: 4px;
    background-color: goldenrod;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    width: 150px;
}

.btn-small-golden {
    border: 1px solid goldenrod;
    border-radius: 4px;
    background-color: goldenrod;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    margin: auto;
    width: 10%;
    margin-right: 130px;
    margin-top: 5px;
}

.btn-small-golden-custom { /*manage account*/
    border: 1px solid goldenrod;
    border-radius: 4px;
    background-color: goldenrod;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    margin: auto;
    width: 10%;
    margin-left: 10px;
    margin-top: 5px;
}

.btn-medium-blue { /*product page*/
    border: 1px solid lightskyblue;
    border-radius: 4px;
    background-color: lightskyblue;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    margin: auto;
    width: 40%;
    margin-right: 130px;
    margin-top: 5px;
}

.btn-medium-blue { /*product page*/
    border: 1px solid lightskyblue;
    border-radius: 4px;
    background-color: lightskyblue;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    margin: auto;
    width: 40%;
    margin-top: 5px;
}

.btn-medium-lightgray { /*top menu button*/
    border: none;
    border-radius: 4px;
    font-size: 18px;
    background-color: lightgray;
    margin-right: 10px;
    padding: 5px 7px;
    cursor: pointer;
}

.btn-small-lightgray  /*manage account*/
{
    border: none;
    border-radius: 4px;
    background-color: lightgray;
    font-size: 15px;
    color: black;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    margin: auto;
    width: 10%;
    margin-top: 5px;
}

.btn-medium-bgColor {
    border: none;
    border-radius: 4px;
    font-size: 18px;
    background-color: #99eeff;
    width: 50px;
    height: 40px;
    cursor: pointer;
}



.btn-medium-white { /*filter button*/
    border: 1px solid gray;
    border-radius: 4px;
    background-color: white;
    font-size: 15px;
    color: black;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    margin-left: 40px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.btn-medium-white-custom {
    border: none;
    border-radius: 4px;
    background-color: white;
    font-size: 15px;
    color: black;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.btn-small-white-custom {
    border: none;
    border-radius: 4px;
    background-color: white;
    font-size: 15px;
    color: black;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.btn-medium-red { /*Watchlist, manage account*/
    border: 1px solid red;
    border-radius: 4px;
    background-color: red;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    margin: auto;
    width: 40%;
    margin-right: 130px;
    margin-top: 5px;
}

/*Textbox*/
.textBox {
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    background-color: #F5F5F5;
    height: 35px;
    width: 250px;
    font-size: 18px;
}

.small-textBox {
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    background-color: #F5F5F5;
    height: 35px;
    width: var(--small-textbox-width);
    font-size: 18px;
}

.textBox-custom {
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    background-color: #F5F5F5;
    font-size: 18px;
}

.textBox-search {
    width: 800px !important;
}

::placeholder {
    color: #AAAAAA;
}

/*Image*/
.larger-image {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: visible;
    aspect-ratio: 1 / 1;
    background-image: url(https://www.jumblebee.co.uk/site/wp-content/uploads/2014/06/JB-FE-Shop_10.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.medium-large-image {
    width: 300px;
    height: 300px;
}

.medium-image {
    float: left;
    width: 70px;
    height: 90px;
    padding-right: 10px;
}

.small-image{
    width:20px;
    height:30px;
    background-color:lightgray;
}

/*border*/
.borderless{
    border: none;
}

.border-black{
    border: 1px solid black;
}